/* GLOBALS */

html {
  overflow-x: hidden;
}

body {
  font-family: "Montserrat", sans-serif;
  color: #000;
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='0' x2='0' y1='0' y2='100%25' gradientTransform='rotate(180,960,495)'%3E%3Cstop offset='0' stop-color='%23ffffff'/%3E%3Cstop offset='1' stop-color='%23EEEEEE'/%3E%3C/linearGradient%3E%3Cpattern patternUnits='userSpaceOnUse' id='b' width='2000' height='1666.7' x='0' y='0' viewBox='0 0 1080 900'%3E%3Cg fill-opacity='0.02'%3E%3Cpolygon fill='%23444' points='90 150 0 300 180 300'/%3E%3Cpolygon points='90 150 180 0 0 0'/%3E%3Cpolygon fill='%23AAA' points='270 150 360 0 180 0'/%3E%3Cpolygon fill='%23DDD' points='450 150 360 300 540 300'/%3E%3Cpolygon fill='%23999' points='450 150 540 0 360 0'/%3E%3Cpolygon points='630 150 540 300 720 300'/%3E%3Cpolygon fill='%23DDD' points='630 150 720 0 540 0'/%3E%3Cpolygon fill='%23444' points='810 150 720 300 900 300'/%3E%3Cpolygon fill='%23FFF' points='810 150 900 0 720 0'/%3E%3Cpolygon fill='%23DDD' points='990 150 900 300 1080 300'/%3E%3Cpolygon fill='%23444' points='990 150 1080 0 900 0'/%3E%3Cpolygon fill='%23DDD' points='90 450 0 600 180 600'/%3E%3Cpolygon points='90 450 180 300 0 300'/%3E%3Cpolygon fill='%23666' points='270 450 180 600 360 600'/%3E%3Cpolygon fill='%23AAA' points='270 450 360 300 180 300'/%3E%3Cpolygon fill='%23DDD' points='450 450 360 600 540 600'/%3E%3Cpolygon fill='%23999' points='450 450 540 300 360 300'/%3E%3Cpolygon fill='%23999' points='630 450 540 600 720 600'/%3E%3Cpolygon fill='%23FFF' points='630 450 720 300 540 300'/%3E%3Cpolygon points='810 450 720 600 900 600'/%3E%3Cpolygon fill='%23DDD' points='810 450 900 300 720 300'/%3E%3Cpolygon fill='%23AAA' points='990 450 900 600 1080 600'/%3E%3Cpolygon fill='%23444' points='990 450 1080 300 900 300'/%3E%3Cpolygon fill='%23222' points='90 750 0 900 180 900'/%3E%3Cpolygon points='270 750 180 900 360 900'/%3E%3Cpolygon fill='%23DDD' points='270 750 360 600 180 600'/%3E%3Cpolygon points='450 750 540 600 360 600'/%3E%3Cpolygon points='630 750 540 900 720 900'/%3E%3Cpolygon fill='%23444' points='630 750 720 600 540 600'/%3E%3Cpolygon fill='%23AAA' points='810 750 720 900 900 900'/%3E%3Cpolygon fill='%23666' points='810 750 900 600 720 600'/%3E%3Cpolygon fill='%23999' points='990 750 900 900 1080 900'/%3E%3Cpolygon fill='%23999' points='180 0 90 150 270 150'/%3E%3Cpolygon fill='%23444' points='360 0 270 150 450 150'/%3E%3Cpolygon fill='%23FFF' points='540 0 450 150 630 150'/%3E%3Cpolygon points='900 0 810 150 990 150'/%3E%3Cpolygon fill='%23222' points='0 300 -90 450 90 450'/%3E%3Cpolygon fill='%23FFF' points='0 300 90 150 -90 150'/%3E%3Cpolygon fill='%23FFF' points='180 300 90 450 270 450'/%3E%3Cpolygon fill='%23666' points='180 300 270 150 90 150'/%3E%3Cpolygon fill='%23222' points='360 300 270 450 450 450'/%3E%3Cpolygon fill='%23FFF' points='360 300 450 150 270 150'/%3E%3Cpolygon fill='%23444' points='540 300 450 450 630 450'/%3E%3Cpolygon fill='%23222' points='540 300 630 150 450 150'/%3E%3Cpolygon fill='%23AAA' points='720 300 630 450 810 450'/%3E%3Cpolygon fill='%23666' points='720 300 810 150 630 150'/%3E%3Cpolygon fill='%23FFF' points='900 300 810 450 990 450'/%3E%3Cpolygon fill='%23999' points='900 300 990 150 810 150'/%3E%3Cpolygon points='0 600 -90 750 90 750'/%3E%3Cpolygon fill='%23666' points='0 600 90 450 -90 450'/%3E%3Cpolygon fill='%23AAA' points='180 600 90 750 270 750'/%3E%3Cpolygon fill='%23444' points='180 600 270 450 90 450'/%3E%3Cpolygon fill='%23444' points='360 600 270 750 450 750'/%3E%3Cpolygon fill='%23999' points='360 600 450 450 270 450'/%3E%3Cpolygon fill='%23666' points='540 600 630 450 450 450'/%3E%3Cpolygon fill='%23222' points='720 600 630 750 810 750'/%3E%3Cpolygon fill='%23FFF' points='900 600 810 750 990 750'/%3E%3Cpolygon fill='%23222' points='900 600 990 450 810 450'/%3E%3Cpolygon fill='%23DDD' points='0 900 90 750 -90 750'/%3E%3Cpolygon fill='%23444' points='180 900 270 750 90 750'/%3E%3Cpolygon fill='%23FFF' points='360 900 450 750 270 750'/%3E%3Cpolygon fill='%23AAA' points='540 900 630 750 450 750'/%3E%3Cpolygon fill='%23FFF' points='720 900 810 750 630 750'/%3E%3Cpolygon fill='%23222' points='900 900 990 750 810 750'/%3E%3Cpolygon fill='%23222' points='1080 300 990 450 1170 450'/%3E%3Cpolygon fill='%23FFF' points='1080 300 1170 150 990 150'/%3E%3Cpolygon points='1080 600 990 750 1170 750'/%3E%3Cpolygon fill='%23666' points='1080 600 1170 450 990 450'/%3E%3Cpolygon fill='%23DDD' points='1080 900 1170 750 990 750'/%3E%3C/g%3E%3C/pattern%3E%3C/defs%3E%3Crect x='0' y='0' fill='url(%23a)' width='100%25' height='100%25'/%3E%3Crect x='0' y='0' fill='url(%23b)' width='100%25' height='100%25'/%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
  scroll-behavior: smooth;
  background-attachment: fixed;
  overflow-x: hidden;
}

::selection {
  color: #fff;
  background:#083c84;
}

/* RESET */
div, img {
  margin: 0;
  padding: 0;
}

img{
  pointer-events: none;
}

.partners {
  transition: .2s;
  margin-bottom: 0!important;
  cursor: pointer;
}

.partners{
  width: 8rem!important;
  height: auto!important;
  /* filter: grayscale(100%) brightness(100%)!important; */
}

.navicon{
  width: 8rem;
  transition: .5s;
}

.logo-home{
  width: 50%;
}

/* FONTS */

h1{
  font-size: 8.5rem;
  font-weight: bolder;
  letter-spacing: 2px;
  color: #000;
}

.caeti {
  height: 100vh;
  position: relative;
  overflow: hidden;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000;
  pointer-events: none;
}

.home-text{
  position: relative;
  z-index: 1;
  pointer-events: auto; /* Si necesitas clics dentro */
}

video{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  opacity: 50%;
  z-index: 0;
  pointer-events: none;
}

h2 {
  font-size: 4.5rem;
  font-weight: bolder;
  color: #000;
  text-transform: uppercase;
  letter-spacing: 2px;
}

h3 {
  font-size: 2.5rem;
  font-weight: bold;
  color: #000;
  text-transform: uppercase;
}

.caeti p{
  font-size: 1.2rem;
  font-weight: 500;
  color: #fff;
}

p{
  font-size: 1.1rem;
  font-weight: 500;
  color: #0c0c0c;
}

.gradient-text {
  background: linear-gradient(45deg,
    #021d42,   /* azul muy oscuro (casi negro azulado) */
    #083c84,   /* color base */
    #0b468f,   /* azul un poco más claro */
    #15549f,   /* azul medio suave */
    #083c84,   /* vuelta al base */
    #021d42    /* cierra con profundidad */
  );
  background-size: 400% 400%;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  display: inline-block;
  font-weight: bold;
  animation: gradientMove 5s infinite linear;
}

.gradient-text2 {
  background: linear-gradient(45deg,
    #7a3e00,   /* naranja quemado oscuro */
    #b85715,   /* naranja óxido */
    #d96f1a,   /* naranja medio tostado */
    #e97c3a,   /* naranja brillante pero sobrio */
    #b85715,   /* repetimos para balancear */
    #7a3e00    /* cierra con profundidad */
  );
  background-size: 400% 400%;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  display: inline-block;
  font-weight: bold;
  animation: gradientMove 5s infinite linear;
}

@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  25% {
    background-position: 50% 100%;
  }
  50% {
    background-position: 100% 50%;
  }
  75% {
    background-position: 50% 0%;
  }
  100% {
    background-position: 0% 50%;
  }
}


/* LINKS */
.nav-link {
  color: #083c84;
  margin-top: 10px;
  font-size: 1.1rem;
  font-weight: bolder;
  text-transform: uppercase;
  transition: .5s;
}

.nav-link:hover, .nav-link:focus {
  text-decoration: none;
  color: #083c84; 
  font-weight: bolder;
}

.navbar-nav .nav-link.active {
  color: #083c84; 
  font-weight: bolder;
  text-decoration: underline;
  text-underline-offset: .5rem;
  text-decoration-thickness: 3px;
}

/* NAVBAR */
.navbar {
  background-color: #fff;
  z-index: 3;
}

.caeti .btn:hover{
  background-color: #fff;
  border-color: #fff;
  color: #000;
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler.navbar-toggler {
  border-color: transparent;
  margin-right: 10px;
}

.custom-toggler:focus,
.custom-toggler:active,
.custom-toggler:hover {
  box-shadow: none;
  outline: 0;
}

.logo-nav {
  width: 10rem;
}

/* BUTTONS */
.btn {
  background-color:#083c84;
  font-size: 1.2rem;
  font-weight: bolder;
  border: solid thin#083c84;
  border-radius: 2px;
  color: #fff;
  padding: 10px;
  transition: 0.5s;
  width: 200px;
  text-transform: uppercase;
}

.caeti .btn{
  color: #fff;
  background-color: transparent;
  border-color: #fff;
}

option{
  background-color: rgba(0, 0, 0, .9)!important;
}

.btn:hover {
  color: #fff;
  border-color: #0062b3;
  background-color: #0062b3;
}

.btn:focus, .btn:active {
  box-shadow: none;
  outline: 0;
}

/* MID SECTION BUTTON */

/* IMAGES */
.main-logo {
  width: 80%;
}

/* SOCIAL ICONS */

.social-icon {
  font-size: 2rem;
  color: #000;
  transition: 0.2s;
  padding: 0 1.6rem 0 2rem;
}

.social-icon:hover {
  color: red;
}

/* SECTIONS */
.section-n {
  height: 100vh;
}

.owl-carousel .item {
  display: flex;
  justify-content: center; 
  align-items: center;    
  height: 100px;       
}


.banner {
  height: fit-content;
}


.footer h2{
  color: #e8e4d8;
}


.footer h2


/* HR */
hr {
  width: 30%;
  border-top: thin solid #e8e4d8;
  margin: auto;
  background-color: transparent;
  opacity: .1;
}

.info p{
  font-size: 1rem!important;
}

.copy{
  background-color: #000;
  color: #fff;
  font-size: .7rem;
  height: fit-content;
  padding: 10px;
  text-transform: uppercase;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.top-space{
  height: 5rem;
}

small{
  letter-spacing: 2px;
}

/* FORM */

input, .form-control {
  margin-top: 10px;
  padding: 10px;
  color: #000;
  background-color: rgba(0,0,0, 0.1);
  border: thin solid transparent;
  border-radius: .25rem;
  width: 100%;
}


.form-control:focus, .form-control:active{
  background-color: rgba(0,0,0, 0.1);
  outline: none;
  box-shadow: none;
  color: #000;
  border-color:#083c84;
}

.form-border{
  border: thin solid transparent;
}


::placeholder{
  color: gray;!important;
}

textarea{
  resize: none;
}

/* SCROLLBAR */

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background-color: #fff;
}

::-webkit-scrollbar-thumb {
  background: #083c84;
}

::-webkit-scrollbar-thumb:hover {
  background: #083c84;
}

.marca{
  width: 75%;
  transition: .5s;
}

.marca:hover{
  transform: translateY(-5px);
}

.centering{
  text-align: center;
}

/* SCREEN */

/* Tablets (768px - 1024px) */
@media only screen and (max-width: 1800px) {

  .caeti h1, h1, h2, h3 {
    font-size: 3rem;
  }

  h3, h4{
    font-size: 2.5rem;
  }

  .caeti{
    height: fit-content;
    padding-bottom: 10rem!important;
    padding-top: 15rem!important;
  }

  .section-n{
    height: fit-content;
    margin-top: 5rem!important;
    margin-bottom: 10rem!important;
  }

  .centering{
    text-align: justify;
  }

  .logo-home{
    width: 50%;
  }

  .copy{
    position: relative;
  }

  section {
    scroll-margin-top: 12rem;
  }

}

@media only screen and (max-width: 1400px) {

  .caeti{
    height: fit-content;
    padding-bottom: 5rem!important;
    padding-top: 10rem!important;
  }

  .logo-home{
    width: 35%;
  }

  .navicon{
    width: 8rem;
  }

  section {
  scroll-margin-top: 150px; /* Ajuste de desplazamiento para el navbar */
}


  .caeti p{
    font-size: 1rem;
  }


  h1{
    font-size: 2rem;
  }

  h2{
    font-size: 1.7rem;
  }

  h3{
    font-size: 1.5rem;
  }


  p, .btn{
    font-size: 1rem;
  }

  .card-img-top{
    height: 12rem!important;
  }

  .card-tittle{
    font-size: 1rem!important;
  }

  .card-text{
    font-size: .8rem!important;
  }

  .nav-link{
    font-size: 1rem;
  }
}



@media only screen and (max-width: 992px) {
  #contacto h2{
    text-align: center;
  }

  #contacto h3{
    text-align: center;
  }

  .nav-link{
    font-size: 1.5rem;
  }
}


@media only screen and (max-width: 767px) {

  .logo-home{
    width: 70%;
  }

  .caeti h1{
    font-size: 2rem;
  }

  h2, h3, h4{
    font-size: 1.5rem;
  }

  p, .caeti p, .btn{
    font-size: 1rem;
  }

  body{
    text-align: justify;
  }

  #whappBtn {
    position: fixed;
    bottom: 2.5rem!important;
    right: 2.5rem;
  }

}


.card{
  background-color: transparent;
  border: none;
}

.card-tittle{
  font-family: "Oxanium", sans-serif;
  color: #e97c3a;
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
}

.card-text{
  font-size: 1rem;
}

.card-img-top {
  height: 18rem; 
  object-fit: cover;
  border: solid thin transparent;
  border-radius: .5rem;
}


.owl-nav {
  display: flex;
  justify-content: center; /* centrado horizontal */
  gap: 2rem; /* espacio entre flechas */
  position: absolute;
  bottom: -40px; /* ajusta según necesidad */
  left: 50%;
  transform: translateX(-50%);
}

/* Permite clic en los botones */
.owl-nav button {
  pointer-events: all;
}

/* Estilizar las flechas */
.owl-nav button.owl-prev,
.owl-nav button.owl-next {
  background-color: rgba(0, 0, 0, 0.5); /* Fondo semi-transparente */
  color: #000!important;
  font-size: 2rem!important; /* Tamaño de ícono/texto */
  width: 100px;
  height: 50px;
  border-radius: 50%;
  border: none;
  margin-top: 5rem!important;
  transition: 0.5s;
}

.owl-nav button.owl-prev:hover,
.owl-nav button.owl-next:hover {
  background-color: rgba(0, 0, 0, 0.8);
  color:#083c84!important;
}


#whappBtn {
  position: fixed;
  bottom: 3rem;
  right: 2.5rem;
  z-index: 90;
  outline: none; 
  background-color: #083c84; 
  cursor: pointer;
  font-weight: bolder;
  border-color: #fff!important;
  border: solid;
  border-width: .25rem;
  transition: 0.5s ease;
  border-radius: 100%;
  padding: 1.2rem!important;
  display: flex;
  align-items: center;
  justify-content: center;
  filter: drop-shadow(0 0 0.2rem #000);
}

#whappBtn:hover {
  background-color:#0062b3;
  border-color:#fff!important;
  transform: translateY(-.5rem);
}

.whapp{
  width: 3rem;
  pointer-events: none;
}

.owl-carousel-container {
  display: flex;
  justify-content: center;
  position: relative;
}


.owl-carousel {
  display: inline-block;
}

@media (max-width: 992px) {
  .full-screen-navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: white;
    z-index: 1050;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .full-screen-navbar.collapsing {
    transition: none;
    height: 100vh !important;
  }

  .full-screen-navbar .navbar-nav {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.backdrop {
  background-color: rgba(255, 255, 255, 0.8); 
  backdrop-filter: blur(10px); 
  -webkit-backdrop-filter: blur(5px); 
  transition: backdrop-filter 0.3s ease-in-out; 
}

.close-navbar-btn {
  background: transparent;
  border: none;
  font-size: .8rem;
  color: #0d3d84;
  cursor: pointer;
  padding-bottom: 5rem;
  font-weight: bolder;
}

.close-navbar-btn:hover {
  color: #d54426;
}

